.blogpage-container {
  max-width: 1024px;
  margin: auto;
  /* background-color: aqua; */
  padding: 2rem;
  padding-top: 8rem;
  /* display: flex; */
}
.blogpage-container .blogpage-back-c a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.blogpage-container .blogpage-back-c a:hover {
  text-decoration: underline;
}
.blogpage-container .blogpage-back-c a svg {
  margin-right: 0.5rem;
  font-size: 16px;
}
.blogpage-container .blogpage-main-action-c {
  /* background-color: aqua; */
  padding: 1rem 0;
  display: flex;
  justify-content: end;
}
.blogpage-container .blogpage-main-action-c a {
  border: 0;
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  background-color: rgb(9, 163, 9);
  text-transform: lowercase;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
}
.blogpage-main-action-c a svg {
  margin-right: 0.2rem;
}

.blogpage-container .blogpage-main-c {
  /* background-color: aquamarine; */
  margin-top: 2rem;
}
.blogpage-m-tags-c {
  display: flex;
}
.blogpage-m-tags-c .bmtag {
  background-color: #d1c1ee;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  color: #541bbe;
  font-size: 14px;
  text-transform: capitalize;
}
.blogpage-m-tags-c .bmreadt {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  color: gray;
}
.bmreadt svg {
  margin-right: 0.3rem;
}
.blogpage-main-c .bm-header {
  margin-top: 1rem;
}
.blogpage-main-c .bm-header h1 {
  color: #333;
  font-size: 2.5rem;
}
@media screen and (max-width: 768px) {
  .blogpage-main-c .bm-header h1 {
    font-size: 1.2rem;
  }
}
.blogpage-main-c .bm-user-card {
  display: flex;
  margin-top: 1rem;
}
.blogpage-main-c .bm-user-card .bm-user-card-av-c {
  /* background-color: #541bbe; */
  width: 3rem;
  height: 3rem;
  border: 1px solid #eee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}
.bm-user-card .bm-user-card-av-c img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
.blogpage-main-c .bm-user-card .bm-user-card-info {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
.bm-user-card .bm-user-card-info p {
  font-weight: 500;
  color: #333;
  text-decoration: none;
}
.bm-user-card .bm-user-card-info p a {
  text-decoration: underline;
  cursor: pointer;
  color: #333;
}
.bm-user-card .bm-user-card-info span {
  font-weight: 400;
  color: gray;
  display: flex;
  align-items: center;
  margin-top: 0.3rem;
}
.bm-user-card .bm-user-card-info span:nth-child(3) {
  font-weight: 300;
  display: flex;
  align-items: center;
}
.bm-user-card .bm-user-card-info span svg {
  margin-right: 0.5rem;
}
.blogpage-main-c .bm-image-content-c {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee;
}
.bm-image-content-c .bm-hero-image {
  width: 100%;
  height: 100%;
  /* background-color: #541bbe; */
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bm-image-content-c .bm-hero-image img {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 0.75rem;
}
@media screen and (max-width: 640px) {
  .bm-image-content-c .bm-hero-image img {
    width: 100%;
    height: 14rem;
  }
}
.bm-image-content-c .bm-excerpt {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.bm-image-content-c .bm-excerpt p {
  color: gray;
  text-align: left;
}
.bm-image-content-c .bm-content {
  margin-bottom: 1rem;
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 300;
  color: #333;
}
.bm-image-content-c .bm-content div {
  white-space: pre-line;
}
@media screen and (max-width: 640px) {
  .bm-image-content-c .bm-content {
    font-size: 1rem;
  }
  .bm-image-content-c .bm-excerpt div {
    font-size: 15px;
  }
}

/* Likes comments */
.bm-likes-comments-container {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.bm-likes-comments-container .bm-like-comment-c {
  display: flex;
  /* background-color: aqua; */
  font-size: 1.1rem;
  color: #333;
}
.bm-like-comment-c .bm-like-c {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.bm-like-comment-c .bm-like-c svg {
  margin-right: 0.3rem;
  cursor: pointer;
  font-size: 1.4rem;
}
.bm-like-comment-c .bm-like-c svg.liked {
  color: rgb(240, 71, 71);
}
.bm-like-comment-c .bm-comment-c {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.bm-like-comment-c .bm-comment-c svg {
  margin-right: 0.3rem;
  cursor: pointer;
  font-size: 1.4rem;
}
.bm-comments-c {
  /* background-color: #541bbe; */
}
.bm-comments-c .bm-comments-c-null {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bm-comments-c-null p {
  color: gray;
  font-size: 1.2rem;
}
/* comment card */
.bm-comments-c .bm-comment-card {
  /* background-color: aquamarine; */
  margin-top: 1rem;
  padding: 0.3rem 0.7rem;
}
.bm-comment-card-u {
  display: flex;
}
.bm-comment-card-u .bm-comment-card-u-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  /* background-color: chocolate; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}
.bm-comment-card-u .bm-comment-card-u-avatar span {
  color: #fff;
  /* font-weight: 200; */
}
.bm-comment-card-u .bm-comment-card-u-avatar img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.bm-comment-card-u-info-comment {
  margin-left: 1rem;
  background-color: rgb(243, 243, 243);
  width: 100%;
  padding: 0.3rem 0.8rem;
  border: 1px dashed #dadada;
  border-radius: 4px;
}
.bm-comment-card-u-info-comment .bm-comment-card-u-info {
  display: flex;
  margin-top: 0.5rem;
}
.bm-comment-card-u-info span {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  color: gray;
  font-size: 14px;
}
.bm-comment-card-u-info span svg {
  margin-right: 0.5rem;
}
.bm-comment-card-u-content {
  margin: 0.5rem 0;
}
.bm-comment-card-u-info-comment .bm-comment-card-u-action {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-end;
}
.bm-comment-card-u-info-comment .bm-comment-card-u-action button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 4px;
  background-color: rgb(250, 46, 46);
  color: #fff;
  padding: 0.3rem 0.9rem;
  cursor: pointer;
}
.bm-comment-card-u-content-c {
  margin-top: 1rem;
}
/* comment form */

.commentform-container {
  /* background-color: blue; */
  display: flex;

  align-items: flex-start;
  padding: 0.6rem 0.8rem;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin-top: 1rem;
}
.commentform-container .commentform-c-user-a {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  /* background-color: chocolate; */
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.commentform-container .commentform-c-user-a img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
.commentform-container .comment-form-c-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.commentform-container .comment-form-c-form textarea {
  resize: vertical;
  min-height: 50px;
  max-height: 100px;
  margin-bottom: 1rem;
}
.comment-form-c-form .comment-btn {
  max-width: 200px;
}
