.dashboardpage-container {
  max-width: 1024px;
  margin: auto;
  /* background-color: aqua; */
  padding: 2rem;
  padding-top: 8rem;
}

.dashboardpage-greeting {
  margin-bottom: 2rem;
}
.dashboardpage-greeting p {
  color: #757575;
}
.dashboardpage-cards-container {
  /* background-color: aquamarine; */
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
}
@media screen and (max-width: 768px) {
  .dashboardpage-cards-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (max-width: 540px) {
  .dashboardpage-cards-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.dashboardpage-cards-container .dashboardpage-card-c {
  /* background-color: cadetblue; */
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  border-radius: 5px;
  color: #fff;
  box-shadow: 1px 1px 5px 0px #cecece;
}
.dashboardpage-card-c .dashboardpage-card-info {
  display: flex;
  flex-direction: column;
}
.dashboardpage-card-c .dashboardpage-card-info h4 {
  font-size: 2rem;
}
.dashboardpage-card-c .dashboardpage-card-info p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
.dashboardpage-card-c .dashboardpage-card-img {
  position: absolute;
  bottom: -1.6rem;
  right: -1rem;
}
.dashboardpage-card-c .dashboardpage-card-img svg {
  font-size: 6rem;
  opacity: 30%;
}
.dashboardpage-container .dashboardpage-ai-creditsbuy-container {
  background-color: #eee;
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px dashed #d3d3d3;
  border-radius: 5px;
}
.dashboardpage-container .dashboardpage-ai-creditsbuy-container span {
  margin-top: 1rem;
}
@media screen and (max-width: 960px) {
  .dashboardpage-container .dashboardpage-ai-creditsbuy-container {
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-start; */
  }
  .dashboardpage-ai-creditsbuy-container button {
    width: 100%;
  }
}
.dashboardpage-ai-creditsbuy-container p {
  color: #525252;
  margin-bottom: 1rem;
}
.dashboardpage-ai-creditsbuy-container button {
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.6rem 0.8rem;
  text-transform: lowercase;
  background-color: #263246;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.dashboardpage-ai-creditsbuy-container button:hover {
  background-color: #3b4250;
}
.dashboardpage-ai-creditsbuy-container button svg {
  margin-left: 0.6rem;
  margin-right: 0.2rem;
  font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
  .dashboardpage-ai-creditsbuy-container p {
    font-size: 15px;
  }
}

.dashboardpage-ai-creditsbuy-container .dashboardpage-redeem-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboardpage-ai-creditsbuy-container .dashboardpage-redeem-btn svg {
  margin-right: 0.5rem;
}
