/* Profile tabs */
.profile-tabs {
  /* background-color: aqua; */
  margin-top: 3rem;
}
.p-tabs-container {
  background-color: rgb(236, 236, 236);
  padding: 0.5rem 0.5rem;
  border-radius: 4px;
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}
.p-tabs-container .p-tabs-btn {
  background-color: rgb(236, 236, 236);
  width: 100%;
  border: 0;
  padding: 0.3rem;
  text-transform: capitalize;
  border-radius: 5px;
  font-weight: 400;
  color: rgb(115, 115, 115);
  cursor: pointer;
  transition: 0.1s ease-in;
}

.p-tabs-container .p-tabs-btn:nth-child(2),
.p-tabs-container .p-tabs-btn:nth-child(3) {
  margin-left: 0.5rem;
}
.p-tabs-btn.active {
  background-color: rgb(249, 249, 249);
  color: #333;
  font-weight: 500;
}

/* Profile Details */
.profile-details-c {
  display: flex;
  flex-direction: column;
}
.profile-details-about-c {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px dashed #afafaf;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.profile-details-c h2 {
  margin-bottom: 1rem;
}
.profile-details-about-c p {
  /* font-size: 0.8rem; */
  margin-top: 1rem;
}

/* Profile blogs */
.profile-blogs-container {
  /* background-color: aqua; */
}
.profile-blogs-container .profile-blogs-c {
  /* padding: 1rem; */
}
.profile-blogs-container .profile-blogs-c ul {
  list-style: none;
  margin-top: 1rem;
}
.profile-blogs-card-c {
  background-color: rgb(249, 249, 249);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0.6rem 0.8rem;
  border: 1px dashed #8c8c8c;
  border-radius: 5px;
}
.profile-blogs-card-c .profile-b-card-header {
  display: flex;
  align-items: center;
}
.profile-blogs-card-c .profile-b-card-header .profile-b-card-avatar {
  /* background-color: rgb(71, 209, 183); */
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #333;
}
.profile-b-card-header .profile-b-card-avatar img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
.profile-blogs-card-c .profile-b-card-header .profile-b-card-u-info {
  margin-left: 1rem;
}
.profile-blogs-card-c .profile-b-card-header .profile-b-card-u-info p {
  font-weight: 500;
}
.profile-blogs-card-c
  .profile-b-card-header
  .profile-b-card-u-info
  p:nth-child(2) {
  color: gray;
  font-size: 12px;
  font-weight: 300;
}
.profile-blogs-card-c .profile-b-card-body {
  margin-top: 1rem;
  /* background-color: chocolate; */
}
.profile-blogs-card-c .profile-b-card-body h2 {
  margin-bottom: 1rem;
  padding: 0.3rem 0.5rem;
}
.profile-blogs-card-c .profile-b-card-body h2 a {
  text-decoration: none;
  color: #333;
}
.profile-blogs-card-c .profile-b-card-footer {
  display: flex;
  justify-content: space-between;
}
.profile-blogs-card-c .profile-b-card-footer div:nth-child(2),
.profile-blogs-card-c .profile-b-card-footer div:nth-child(3) {
  margin-left: 1rem;
}
.profile-blogs-card-c .profile-b-card-footer .pb-c-f-like-comment {
  display: flex;
  align-items: center;
  color: #4c4c4c;
  font-size: 14px;
}
.profile-blogs-card-c .profile-b-card-footer .pb-c-f-like-comment div svg {
  margin-right: 0.5rem;
}
.profile-b-card-footer .pb-c-f-actions {
  /* background-color: aqua; */
  display: flex;
}
.profile-b-card-footer .pb-c-f-actions a,
.profile-b-card-footer .pb-c-f-actions button {
  border: 0;
  border-radius: 4px;
  color: #fff;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  transition: 0.3s ease-in;
}
.profile-b-card-footer .pb-c-f-actions a {
  background-color: #1fac12;
}
.profile-b-card-footer .pb-c-f-actions a:hover {
  background-color: #fff;
  color: #1fac12;
  border: 1px solid #1fac12;
}
.profile-b-card-footer .pb-c-f-actions button:nth-child(2) {
  background-color: #ec3838;
  margin-left: 1rem;
}
.profile-b-card-footer .pb-c-f-actions button:nth-child(2):hover {
  background-color: #fff;
  color: #ec3838;
  border: 1px solid #ec3838;
}
.pb-c-f-actions button svg {
  font-size: 1rem;
  margin-right: 0;
}
/* Profile Connections */
.profile-connections-container {
  /* background-color: aqua; */

  /* margin-top: 1rem; */
}
.profile-connections-container h2 {
  text-transform: capitalize;
}
.profile-connections-container .profile-connections-c-f-c {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px dashed #c0c0c0;
  border-radius: 5px;
  margin-top: 1rem;
}
.profile-connections-c-f-c h3 {
  color: #4c4c4c;
}
.profile-connections-c-f-cs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .profile-connections-c-f-cs {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 640px) {
  .profile-connections-c-f-cs {
    grid-template-columns: 1fr;
  }
}
.profile-connections-c-f-c .profile-connections-card-c {
  display: flex;
  /* background-color: rgb(245, 245, 245); */
  width: 100%;
  max-width: 250px;
  margin-top: 1rem;
  padding: 0.6rem 0.8rem;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #d8d8d8;
}
.profile-connections-card-c .profile-connections-card-avatar-c {
  /* background-color: brown; */
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-connections-card-avatar-c p {
  color: #333;
  font-size: 12px;
}
.profile-connections-card-avatar-c img {
  width: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
.profile-connections-card-c .profile-connections-card-u-info {
  flex: 2;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.profile-connections-card-u-info-name a {
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9rem;
  color: #4c4c4c;
}
.profile-connections-card-u-info-name a:hover {
  text-decoration: underline;
}
.profile-connections-card-u-info-name a p {
  color: #4c4c4c;
}
.profile-connections-card-u-info .profile-connections-card-u-info-name span {
  color: gray;
  font-size: 12px;
  font-weight: 300;
}
.profile-connections-card-u-info .profile-connections-card-u-info-action-btn-c {
  margin-top: 0.5rem;
  width: 100%;
}

.profile-connections-card-u-info
  .profile-connections-card-u-info-action-btn-c
  button {
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  background-color: #ececec;
}
