textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.edit-profile-textarea {
  resize: vertical;
  max-height: 250px;
  min-height: 100px;
  color: #333;
}
textarea.error {
}
.user-profile-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  /* background-color: cadetblue; */
}
.profile-c-container {
  /* background-color: aqua; */
  display: flex;
}
.profile-c-avatar-circle {
  /* background-color: coral; */
  width: 8rem;
  height: 8rem;
  border: 1px solid #c0c0c0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 2rem;
}
.profile-c-avatar-circle img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
}
.profile-c-user-details {
  margin-left: 2rem;
  text-align: left;

  display: flex;
  flex-direction: column;
}
.profile-c-user-details p {
  color: gray;
  text-transform: capitalize;
}
.profile-c-user-details .pc-user-details-loctn {
  display: flex;
  flex-direction: column;
  margin-top: 0.4rem;
  justify-content: space-between;
}
.pc-user-details-loctn div {
  display: flex;
  align-items: center;
  color: gray;
}
/* .pc-user-details-loctn div:nth-child(2) {
  padding-left: 1rem;
} */
.pc-user-details-loctn div p {
  font-size: 15px;
  margin-left: 5px;
  font-weight: 300;
}
.pc-user-details-connections {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.pc-user-details-connections div {
  display: flex;
  flex-direction: row;
}
.pc-user-details-connections div p {
  margin-left: 5px;
}
.pc-user-details-connections div:nth-child(2),
.pc-user-details-connections div:nth-child(3) {
  /* background-color: burlywood; */
  margin-left: 1rem;
}
.pc-user-details-edit-btn-c {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
hr {
  border: 0.1 #333;
}
@media screen and (max-width: 768px) {
  .profile-c-container {
    flex-direction: column;
    align-items: center;
  }
  .profile-c-user-details {
    text-align: center;
    margin-top: 1rem;
    margin-left: 0;
  }
  .pc-user-details-loctn {
    justify-content: center;
    align-items: center;
  }
  .pc-user-details-connections {
    justify-content: center;
  }
  .user-profile-container {
    /* width: 768px; */
    width: auto;
  }
  .profile-c-avatar-circle {
    width: 5rem;
    height: 5rem;
  }
  .profile-c-avatar-circle img {
    width: 5rem;
    height: 5rem;
  }
}
/* edit profile */
.edit-profile-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* flex-direction: column; */
  /* background-color: #3eb7cc; */
  padding: 2rem;
  padding-top: 8rem;
}
.edit-profile-form-c {
  /* background-color: aquamarine; */
  width: 100%;
  max-width: 450px;
  /* margin: auto; */
  margin-top: 0.2rem;
  margin-left: 3rem;
  padding: 2rem;
  border-radius: 8px;
}
.edit-profile-form-header {
  margin-bottom: 2rem;
}
.edit-profile-form-header h1 {
}
.edit-profile-avatar-c {
  position: relative;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  /* background-color: coral; */
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.edit-profile-avatar-c img {
  /* width: 100%; */
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  object-fit: cover;
}
.edit-profile-avatar-c p {
  color: aliceblue;
}
.edit-profile-avatar-icon-c {
  background-color: rgb(251, 251, 252);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  bottom: -20px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: gray;
  box-shadow: 4px 1px 7px 1px #717171;
}

.edit-profile-title-select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}
.edit-profile-update-btn-c {
  margin-top: 2rem;
}

@media screen and (max-width: 780px) {
  .edit-profile-container {
    flex-direction: column;
    align-items: center;
  }
  .edit-profile-form-c {
    margin-left: 0;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 640px) {
  .edit-profile-avatar-c {
    width: 10rem;
    height: 10rem;
  }
  .edit-profile-avatar-c img {
    width: 10rem;
    height: 10rem;
  }
  .edit-profile-form-c {
    padding: 1rem;
  }
}

.edit-profile-avatar-action-menu {
  /* width: 150px; */
  /* background-color: aqua; */
  position: absolute;
  top: 110%;
  left: 0;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #fff8f8;
}

.edit-profile-avatar-action-menu div button {
  padding: 8px 16px;
  width: 100%;
  font-size: 1rem;
  border-radius: 5px;
  border: 0;
  text-transform: capitalize;
  background-color: #333333;
  color: #fff;
  cursor: pointer;
}
.edit-profile-file-upload {
  position: relative;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
.edit-profile-file-upload input[type='file'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.edit-profile-file-upload .avatar-input-label {
  width: 100%;
  display: inline-block;
  padding: 8px 16px;
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.edit-profile-file-upload .avatar-input-label:hover {
  background-color: #0056b3;
}
@media screen and (max-width: 780px) {
  .edit-profile-file-upload .avatar-input-label {
    font-size: 0.7rem;
  }
  .edit-profile-avatar-action-menu div button {
    font-size: 0.7rem;
  }

  .edit-profile-avatar-action-menu {
    top: 120%;
    padding: 1rem;
    background-color: #fff8f8;
  }
}

.edit-profile-ai-gen-btn {
  width: 100%;
  border: 1px solid #9c9c9c;
  border-radius: 4px;
  padding: 0.5rem 0.8rem;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #f369f2 0%, #fc466b 0%, #3f5efb 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.edit-profile-ai-gen-btn.ep-p-ai-disabled {
  opacity: 0.6;
  filter: blur(1px);
  cursor: not-allowed;
}
.edit-profile-ai-gen-btn svg {
  color: #0056b3;
  margin-left: 0.5rem;
  margin-right: 0.2rem;
}
.edit-profile-ai-credits-label {
  font-weight: 400;
  font-size: 15px;
  display: block;
}
